.body {
  background-color: rgb(250, 250, 252);

  padding: 0;
  box-sizing: border-box;
  display: block;
  margin: 8px;
}

body {
  font-family: Arial, sans-serif;
  text-align: left;
  margin: 20px;
}

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #f5085e;
  margin-bottom: 10px;
  font: bold;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#itemDetails {
  margin-top: 20px;
}

#itemDetails img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #0d0d0d;
}
nav.heading {
  display: flex;
  align-items: center;
}

nav.heading ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.heading ul li {
  margin-right: 20px;
}

.logo,
.heading,
.search {
  margin-right: 20px;
}

/* Style the logo */
.logo {
  margin-left: 60px;
  font-size: x-large;
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #d8d5d5;
}

/* Style the navigation menu */
.heading ul {
  display: block;
  list-style: none;
}

.heading ul li {
  margin-right: 15px;
}

.heading ul li a {
  text-decoration: none;
  color: #d9d4d4;
}
#searchInput {
  left: 10px;
}

.top-menu {
  position: absolute;
  top: 0.5px;
  height: 0.5px;
  left: 0px;
  width: 2px;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.menu-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #161717;
  list-style: outside;
  display: none;
  gap: 20px;
}
.menu-list.show {
  display: flex;
  flex-direction: column;
}
.menu-list li {
  padding: 10px;
}

.menu-list li a {
  text-decoration: none;
  color: #ece0e0;
}

.content {
  padding: 20px;
}

h2 {
  margin-top: 0;
}

/* Menu Icon Styles */
.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

/* Hide the menu list initially on small screens */
@media (max-width: 768px) {
  .menu-list {
    display: none;
  }
}
/* Styling for the "Get Quote" button */
#getQuoteButton {
  position: absolute;
  top: 80px;
  right: 0px;
  z-index: 9999;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for the quote form */
#quoteForm {
  position: absolute;
  top: 25%;
  left: 80%;
  border-style: none;
  border-spacing: 1px;
  padding: 20px;
  background-color: #74b3de;
  border-radius: 5px;
  display: none;
  z-index: 9999;
}

#image {
  display: flex;
  margin-top: 10%;
  margin-left: 30%;
  left: 40%;
  width: 25%;
  padding: 2px;

  z-index: 9999;
}

.items {
  /*  the width and height of the container */
  width: calc(35% - 20px);
  margin-bottom: 20px;
  background-color: #fff;
  border: 2.5px solid black;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  display: inline-block;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  color: #007bff;
}

.heading1 {
  opacity: 0;
}
.section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.section2 .container .items {
  margin: 10px;
  width: 200px;
  height: 300px;
  background-color: white;
  border: 2.5px solid black;
  border-radius: 12px;
}

.section2 .container .items .name {
  text-align: center;
  background-color: rgb(147, 105, 230);
  height: 25px;
  padding-top: 4px;
  color: white;
  margin: 0;
}

.section2 .container .items .price {
  float: left;
  padding-left: 10px;
  display: block;
  width: 100%;
  color: rgb(255, 0, 0);
  font-weight: 650;
}

.section2 .container .items .info {
  padding-left: 10px;
  color: rgb(243, 168, 7);
  text-align: end;
}

.section2 .container .items .img img {
  object-fit: cover;
  width: 100px;
  height: 100 px;
  margin: 10 px;
  padding: 0;
  border-radius: 12px;
  transition-duration: 0.8s;
}

.section2 .container .items .img {
  overflow: hidden;
  margin: 5 px;
}

.section2 .container .items:hover .img img {
  transform: scale(1.2);
  transition-duration: 0.8s;
  border-radius: 12px;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  color: white;
}

.footer1 {
  position: relative;
  left: 10%;
  text-align: left;
  display: flex;
  flex-direction: column;

  color: white;
  margin-top: 15px;
}
.footer1 p {
  margin: 0;
}
.footer1 a {
  display: block;

  margin-right: 10px;
}
.footer1.social.media {
  justify-content: center;
}
.social.media a {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}
.fa:hover {
  opacity: 0.7;
}

/* Facebook */

.fa {
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
.footer2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: normal;
  text-decoration: none;
  flex-wrap: wrap;
}

.footer0 {
  font-weight: 1200;
  transition-duration: 1s;
}

.footer0:hover {
  color: rgb(212, 164, 60);
}
.footer2:hover {
  color: #326ae5;
}
.footer2 .heading {
  font-weight: 900;
  font-size: 18px;
}
.footer2 a {
  color: aquamarine;
}
.footer3 {
  margin-top: 60px;
  margin-bottom: 20px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}
.footer3.show {
  display: block;
}

.footer2 .heading:hover {
  color: rgb(243, 168, 7);
}
.footer3 {
  margin-top: 60px;
  margin-bottom: 20px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.footer3.show {
  display: block;
}

.footer2 section {
  margin: 10px;
}

.section1 {
  width: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.footer0 {
  font-weight: 1200;
  transition-duration: 1s;
}

.footer0:hover {
  align-content: flex-start;
  color: rgb(243, 7, 129);
}

.star-rating {
  font-size: 24px; /* Size of the stars */
  color: #ccc; /* Color of the empty stars */
}

.star {
  display: inline-block;
  cursor: pointer;
}

.star.active {
  color: gold;
}

#review-form {
  margin-top: 20px;
}

#comment {
  display: block;
  width: 100%;
  height: 100px;
  resize: none;
  margin-bottom: 10px;
}

#user-review {
  margin-top: 30px;
}
