body {
  background-color: rgb(250, 250, 252);

  padding: 0;
  box-sizing: border-box;
  display: block;
  margin: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #0d0d0d;
}
nav.heading {
  display: flex;
  align-items: center;
}

nav.heading ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.heading ul li {
  margin-right: 20px;
}

.logo,
.heading,
.search {
  margin-right: 20px;
}

/* Style the logo */
.logo {
  margin-left: 80px;
  font-size: xx-large;
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #d8d5d5;
}

/* Style the navigation menu */
.heading ul {
  display: block;
  list-style: none;
}

.heading ul li {
  margin-right: 15px;
}

.heading ul li a {
  text-decoration: none;
  color: #d9d4d4;
}
.top-menu {
  position: absolute;
  top: 0.5px;
  height: 0.5px;
  left: 0px;
  width: 2px;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.menu-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #161717;
  list-style: outside;
  display: none;
  gap: 20px;
}
.menu-list.show {
  display: flex;
  flex-direction: column;
}
.menu-list li {
  padding: 10px;
}

.menu-list li a {
  text-decoration: none;
  color: #ece0e0;
}

.content {
  padding: 20px;
}

h2 {
  margin-top: 0;
}

/* Menu Icon Styles */
.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

/* Hide the menu list initially on small screens */
@media (max-width: 768px) {
  .menu-list {
    display: none;
  }
}
/* Styling for the "Get Quote" button */
#getQuoteButton {
  position: absolute;
  top: 10px;
  right: 350px;
  z-index: 9999;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for the quote form */
#quoteForm {
  position: absolute;
  top: 15%;
  left: 80%;
  border-style: none;
  border-spacing: 1px;
  padding: 20px;
  background-color: #74b3de;
  border-radius: 5px;
  display: none;
  z-index: 9999;
}

.image-section {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.image-section img {
  position: relative;
  max-width: 200%;
  max-height: 100%;
}
.image-container {
  display: flex;
  width: 520px;
  height: 300px;
}

.image-container img {
  width: 300%;
  height: 100%;
  margin: 0 10px;
}

.img-slider img {
  height: 720px;
  width: 1080px;
}

@keyframes slide {
  0% {
    left: 0px;
  }
  15% {
    left: 0px;
  }
  20% {
    left: -1080px;
  }
  32% {
    left: -1080px;
  }
  35% {
    left: -2160px;
  }
  47% {
    left: -2160px;
  }
  50% {
    left: -3240px;
  }
  63% {
    left: -3240px;
  }
  66% {
    left: -4320px;
  }
  79% {
    left: -4320px;
  }
  82% {
    left: -5400px;
  }
  100% {
    left: 0px;
  }
}

.img-slider {
  display: flex;
  float: left;
  position: absolute;
  width: 1080px;
  height: 720px;
  animation-name: slide;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition-duration: 2s;
}

.heading1 {
  opacity: 0;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.image-section img {
  max-width: 100%;
  max-height: 100%;
}
.section2 .container {
  display: flex;
  width: 100%;
  height: max-content;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
}

.section2 .container .items {
  margin: 10px;
  width: 200px;
  height: 300px;
  background-color: white;
  border: 2.5px solid black;
  border-radius: 12px;
}

.section2 .container .items .name {
  text-align: center;
  background-color: rgb(147, 105, 230);
  height: 25px;
  padding-top: 4px;
  color: white;
  margin: 0;
}

.section2 .container .items .price {
  float: left;
  padding-left: 10px;
  display: block;
  width: 100%;
  color: rgb(255, 0, 0);
  font-weight: 650;
}

.section2 .container .items .info {
  padding-left: 10px;
  color: rgb(243, 168, 7);
}

.section2 .container .items .img img {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  transition-duration: 0.8s;
}

.section2 .container .items .img {
  overflow: hidden;
  margin: 0;
}

.section2 .container .items:hover .img img {
  transform: scale(1.2);
  transition-duration: 0.8s;
  border-radius: 12px;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  color: white;
}

.footer1 {
  position: relative;
  left: 10%;
  text-align: left;
  display: flex;
  flex-direction: column;

  color: white;
  margin-top: 15px;
}
.footer1 p {
  margin: 0;
}
.footer1 a {
  display: block;

  margin-right: 10px;
}
.footer1.social.media {
  justify-content: center;
}
.social.media a {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}
.fa:hover {
  opacity: 0.7;
}

/* Facebook */

.fa {
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
.footer2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: normal;
  text-decoration: none;
  flex-wrap: wrap;
}

.footer0 {
  font-weight: 1200;
  transition-duration: 1s;
}

.footer0:hover {
  color: rgb(212, 164, 60);
}
.footer2:hover {
  color: #326ae5;
}
.footer2 .heading {
  font-weight: 900;
  font-size: 18px;
}
.footer2 a {
  color: aquamarine;
}
.footer3 {
  margin-top: 60px;
  margin-bottom: 20px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}
.footer3.show {
  display: block;
}

.footer2 .heading:hover {
  color: rgb(243, 168, 7);
}
.footer3 {
  margin-top: 60px;
  margin-bottom: 20px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.footer3.show {
  display: block;
}

.footer2 section {
  margin: 10px;
}

.section1 {
  width: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.search a {
  display: flex;
  flex-wrap: nowrap;
}

.search a ion-icon {
  color: white;
  background-color: black;
}

.search a:hover ion-icon {
  color: red;
  transform: translateY(5px);
}

.footer0 {
  font-weight: 1200;
  transition-duration: 1s;
}

.footer0:hover {
  color: rgb(243, 7, 129);
}

.items {
  overflow: hidden;
}
